doctype html
html
  head
    title Agregar Nuevo Profesional
    link(rel='stylesheet', href='/styles.css')
  body
    .container
      h1 Agregar Nuevo Profesional

      form(action="/profesionales/nuevo", method="POST")
        div
          label(for="nombre_completo") Nombre Completo
          input(type="text" name="nombre_completo" required)

        div
          label(for="matricula") Matrícula
          input(type="text" name="matricula" required)

        div
          label Especialidades
          .checkbox-group
            each especialidad in especialidades
              div
                label
                  input(type="checkbox" name="especialidades" value=especialidad.id) 
                  | #{especialidad.nombre}
        
        div
          button(type="submit" class="button") Guardar

      a(href="/profesionales" class="button") Volver a la Lista

